.Header {
  width: 100vw;
  height: 15vh;
  background-color: rgb(0, 140, 255);
  position: relative;
  box-shadow: 0px 1px 5px black;
}

.container {
  width: 7%;
  height: 40%;
  position: absolute;
  left: 92%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.Entrar {
  width: 40%;
}

.Entrar > label {
  cursor: pointer;
  top: 50%;
}

.Entrar > button {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.Borda {
  width: 0%;
  height: 40%;
  border-right: 1px solid white;
}

.Pesquisa {
  width: 20%;
  height: 20%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 40%;
}

.Pesquisa > input {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.Pesquisa > label {
  position: absolute;
  transform: translate(-50%, 0%);
  left: 90%;
  width: 10%;
  height: 100%;
}

#Lupa {
  position: absolute;
  width: 100%;
  height: 100%;
}
